<H1> Data Science Tools and Ecosystem </H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives:**
* Some of the popular languages that Data Scientists use are.
* Some of the commonly used libraries used by Data Scientists.
* Few examples of evaluating arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools |
|---|
| TensorFlow |
| Apache Spark |
| Hadoop |

<H3>Below are a few examples of evaluating arithmetic expressions in Python:</H3> Sum, addition and multiplication

In [2]:
#This a simple arithmetic expression to mutiply then add integers:
    
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<H2>Author:</H2>
    
    
Juan Pablo Ravetti